$sonokai-red: #f7768e;
$sonokai-blue: #7aa2f7;
$sonokai-cyan: #7dcfff;
$sonokai-purple: #bb9af7;
$sonokai-background-dark: #1a1b26;
$sonokai-background: #2c2e34;
$sonokai-foreground: #e2e2e3;
$sonokai-black: #1a1b26;
$sonokai-white: #a9b1d6;
$sonokai-yellow: #e0af68;
$sonokai-orange: #ff9e64;
$sonokai-muted: #a9b1d6;
$sonokai-subtle: #e0af68;
$sonokai-text: #e2e2e3;

$sonokai-light-red: #f7768e;
$sonokai-light-blue: #7aa2f7;
$sonokai-light-cyan: #7dcfff;
$sonokai-light-purple: #bb9af7;
$sonokai-light-background: #ffffff;
$sonokai-light-grey: #f7f7f7;
$sonokai-light-grey-dark: #dcdcdc;
$sonokai-light-overlay: #e0e0e0;
$sonokai-light-text: #2c2e34;
